:root{
    --icon-tags: "\f02c";
    --icon-book: "\f02d";
    --icon-bookmark: "\f02e";
    --icon-print: "\f02f";
    --icon-camera: "\f030";
    --icon-font: "\f031";
    --icon-bold: "\f032";
    --icon-italic: "\f033";
    --icon-text-height: "\f034";
    --icon-text-width: "\f035";
    --icon-globe: "\f0ac";
    --icon-truck: "\f0d1";
    --icon-archive: "\f187";
}

.icon-AdminOmnivaIntMain:before { content: var(--icon-truck); }
.icon-AdminOmnivaIntMain:after { content: var(--icon-archive); font-size: 70%; margin-left: 2px; }
