:is(#omniva_shipment_form, .omniva_shipment_form) .panel {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #dbe6e9;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 4px 0 rgb(0 0 0 / 6%);
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 6%);
}

#print-label-heading {
    margin: 15px 0 0 -20px;
}

#omniva_shipment_form .panel-heading, .omniva_shipment_form .panel-heading {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    line-height: 1.5rem;
    background-color: #fafbfc;
    border: none;
    border-bottom: 1px solid #dbe6e9;
    margin: -20px -20px 15px -20px;
    padding: 10px;
    font-weight: 600;
    color: #363a41;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.omniva-wrapper {
    display: flex;
    justify-content: space-between;
}

@media(min-width: 768px)
{
    :is(#omniva_shipment_form, .omniva_shipment_form), .omniva_tracking_list {
        width: calc(50% - 15px);
    }
}

:is(#omniva_shipment_form, .omniva_shipment_form) .switch a {
    -webkit-box-shadow: "#1B7088" 0 -1px 0 inset;
    background-color: #2eacce;
    border: 1px solid #279cbb;
    box-shadow: inset 0 -1px 0 "#1B7088";
    color: #fff;
    height: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 1;
}

:is(#omniva_shipment_form, .omniva_shipment_form) .prestashop-switch input:first-of-type:checked ~ .slide-button::after {
    -webkit-transform: translate(15px, -48%);
    transform: translate(15px, -48%);
}

:is(#omniva_shipment_form, .omniva_shipment_form) .prestashop-switch input:checked {
    z-index: 0;
}

:is(#omniva_shipment_form, .omniva_shipment_form) .prestashop-switch {
    -webkit-box-shadow: rgba(0,0,0,.15) 0 1px 4px 1px inset;
    background-color: #eee;
    border-radius: 3px;
    box-shadow: inset 0 1px 4px 1px rgba(0,0,0,.15);
    color: #333;
    margin-top: 3px;
    text-align: center;
}

:is(#omniva_shipment_form, .omniva_shipment_form) .form-horizontal .form-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 14px 0;
    margin: auto;
}

:is(#omniva_shipment_form, .omniva_shipment_form) .switch input {
    opacity: 0;
    position: absolute;
}

:is(#omniva_shipment_form, .omniva_shipment_form) .prestashop-switch input:checked+label {
    color: #fff;
}

:is(#omniva_shipment_form, .omniva_shipment_form) .prestashop-switch label {
    -webkit-transition: color .2s ease-out;
    color: #bbb;
    cursor: pointer;
    font-weight: 400;
    text-transform: uppercase;
    transition: color .2s ease-out;
}

:is(#omniva_shipment_form, .omniva_shipment_form) .switch input:last-of-type:checked~a {
    -webkit-box-shadow: "#5C5C5C" 0 -1px 0 inset;
    background-color: #e08f95;
    border: 1px solid #ca6f6f;
    box-shadow: inset 0 -1px 0 "#5C5C5C";
    left: 50%;
}

:is(#omniva_shipment_form, .omniva_shipment_form) .switch label {
    float: left;
    height: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    width: 50%;
    z-index: 2;
    line-height: 26px;
    vertical-align: middle;
}

:is(#omniva_shipment_form, .omniva_shipment_form) .switch {
    display: block;
    height: 26px;
    position: relative;
}

:is(#omniva_shipment_form, .omniva_shipment_form) .fixed-width-lg {
    width: 160px!important;
}

:is(#omniva_shipment_form, .omniva_shipment_form) .form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 7px;
    text-align: right;
}

:is(#omniva_shipment_form, .omniva_shipment_form) .form-group:before, :is(#omniva_shipment_form, .omniva_shipment_form) .form-group:after {
    content: " ";
    display: table;
}

:is(#omniva_shipment_form, .omniva_shipment_form) .panel-heading.additional {
    border-top: 1px solid #bbcdd2;
    font-size: 12px;
    border-radius: 0;
}

.omniva_shipment_form .panel-footer {
    padding-top: 20px; 
}

#omniva_shipment_form :is(input[type="text"], select) {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #bbcdd2;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s,-webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,-webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s,-webkit-box-shadow ease-in-out 0.15s;
}

#omniva_shipment_form .input-group-addon {
    padding: 8px 16px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #f5f8f9;
    border-top: 1px solid #bbcdd2;
    border-left: 1px solid #bbcdd2;
    border-bottom: 1px solid #bbcdd2;
    border-right: 1px solid #bbcdd2;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: table-cell;
    border-right: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

#omniva_shipment_form .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

#omniva_shipment_form .form-group {
    display: flex;
} 